services:
    python:
        build:
            context: ../..  # プロジェクトルートを指定
            dockerfile: .devcontainer/nvidia/Dockerfile
            args:
                CONTAINER_USER: vscode
                CONTAINER_WORKDIR: /workspace
        environment:
            PYTHONPATH: /workspace
            DISPLAY: $DISPLAY
            PULSE_SERVER: $PULSE_SERVER
            WAYLAND_DISPLAY: $WAYLAND_DISPLAY
            XDG_RUNTIME_DIR: $XDG_RUNTIME_DIR
        network_mode: "host"
        volumes:
            - ../..:/workspace # プロジェクトルートをマウント
            - /tmp/.X11-unix:/tmp/.X11-unix
            - ~/.Xauthority:/root/.Xauthority
            - /mnt/wslg:/mnt/wslg
            - /dev/bus/usb:/dev/bus/usb
            - /dev/snd:/dev/snd
        # 変更: NVIDIA GPUのリクエストを追加
        deploy:
          resources:
            reservations:
              devices:
                - driver: nvidia
                  count: 1
                  capabilities: [gpu]
        tty: true
        stdin_open: true