services:
    python:
        build:
            context: ../..
            dockerfile: .devcontainer/amd/Dockerfile
            args:
                CONTAINER_USER: vscode
                CONTAINER_WORKDIR: /workspace
        environment:
            PYTHONPATH: /workspace
            DISPLAY: $DISPLAY
            PULSE_SERVER: $PULSE_SERVER
            WAYLAND_DISPLAY: $WAYLAND_DISPLAY
            XDG_RUNTIME_DIR: $XDG_RUNTIME_DIR
            
            # APU (Radeon 680M) 用設定
            HSA_OVERRIDE_GFX_VERSION: "10.3.0"
            HSA_ENABLE_SDMA: "0"
            
        network_mode: "host"
        ipc: "host"
        volumes:
            - ../..:/workspace
            - /tmp/.X11-unix:/tmp/.X11-unix
            - ~/.Xauthority:/root/.Xauthority
            - /mnt/wslg:/mnt/wslg
            - /dev/bus/usb:/dev/bus/usb
            - /dev/snd:/dev/snd
        devices:
            - "/dev/kfd:/dev/kfd"
            - "/dev/dri:/dev/dri"
            - "/dev/snd:/dev/snd"
        group_add:
            - video
            - render
        security_opt:
            - seccomp:unconfined
        cap_add:
            - SYS_PTRACE
        tty: true
        stdin_open: true